<!-- ================================
JavaScript Libraries
================================= -->

<!-- Select Linking Based on Page -->
{{if $.Param "index"}}
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery-validation.min.js"></script>
    <script src="/js/main.js"></script>
{{else if eq $.Params.layout "blog"}}
    <script src="../../js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../js/vendor/bootstrap.min.js"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/isotope.pkgd.min.js"></script>
    <script src="../../js/jquery.nicescroll.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/jquery-validation.min.js"></script>
    <script src="../../js/main.js"></script>
{{else}}
    <script src="../js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/isotope.pkgd.min.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery-validation.min.js"></script>
    <script src="../js/main.js"></script>
{{end}}