<!DOCTYPE html>
<html class="no-js" >
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Phantom | Personal Resume Template</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        {{ partial "head/styles.html" . }}
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <!-- <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c0" data-color="red" title="Default">Default</li>
                    <li class="c1" data-color="blue" title="Red">Red</li>
                    <li class="c2" data-color="green" title="Green">Green</li>
                    <li class="c3" data-color="yellow" title="Blue">Blue</li>
                </ul>
            </div>
        </div> -->

        <section class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-services relative">
                    {{ partial "components/close.html" . }}
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                                <div class="page-title text-center">
                                    <h2>My <span class="primary">Sites</span> <span class="title-bg">Websites</span></h2>
                                    <p>A collection of websites I have created for clubs, pitches, and freelance work.</p>
                                </div>

                                <div class="hexagon-menu services clear">
                                    <div class="service-hex" onclick="redirectLink('https:\/\/bdaaosu.org')">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                                <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                            </g>
                                        </svg>

                                        <div class="content">
                                            <div class="icon">
                                                <i class="et-line icon-lightbulb"></i>
                                            </div>
                                            <h4>Big Data Analytics <br> Association</h4>
                                            <p>React.js hosted on netlify with express.js backend.</p>
                                        </div>
                                    </div>
                                    <div class="service-hex" onclick="redirectLink('https:\/\/see3d.org')">

                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                                <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                            </g>
                                        </svg>
                                        <div class="content">
                                            <div class="icon">
                                                <i class="et-line icon-mobile"></i>
                                            </div>
                                            <h4>See3D</h4>
                                            <p>Hosted on Express.js with pug templates and Strapi CMS</p>
                                        </div>
                                    </div>
                                    <div class="service-hex" onclick="redirectLink('https:\/\/travelerpitch.netlify.app')">

                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                                <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                            </g>
                                        </svg>
                                        <div class="content">
                                            <div class="icon">
                                                <i class="et-line icon-profile-male"></i>
                                            </div>
                                            <h4>traVeleR</h4>
                                            <p>Static HTML site<br>hosted on Netlify</p>
                                        </div>
                                    </div>
                                    <div class="service-hex" onclick="redirectLink('https:\/\/bollywoodbistrochicago.com')">

                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                                <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                            </g>
                                        </svg>
                                        <div class="content">
                                            <div class="icon">
                                                <i class="et-line icon-heart"></i>
                                            </div>
                                            <h4>Bollywood Bistro<br>Chicago</h4>
                                            <p>Static HTML site<br>hosted on Netlify<br>(I No Longer Manage)</p>
                                        </div>
                                    </div>
                                    <div class="service-hex">

                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                                <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                            </g>
                                        </svg>
                                        <div class="content">
                                            <div class="icon">
                                                <i class="et-line icon-hotairballoon"></i>
                                            </div>
                                            <h4>Personal<br>Portfolio/Blog</h4>
                                            <p>HTML Netlify Site<br>Netlify CMS Blog<br>jQuery dynamic content</p>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- /.col-xs-12 -->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="../about" class="link">&larr; Prev Page</a></span>
                                <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span>
                                <span class="next-page"><a href="../resume" class="link">Next Page &rarr;</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </section> <!-- /.site-wrapper -->
        
        {{ partial "footer/scripts.html" . }}
        <script src="js/clickbox.js"></script>
    </body>
</html>